.ai-container {
  width: 85%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.chat-box {
  background: #fff;
  min-height: 350px;
  max-height: 400px;
  overflow-y: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  padding: 10px 15px;
  border-radius: 18px;
  width: fit-content;
  max-width: 75%;
}

.message.user {
  background: #d4ffc9;
  align-self: flex-end;
}

.message.bot {
  background: #e7f3ff;
  align-self: flex-start;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 12px;
}

.input-area input {
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-area button {
  background: #028a5f;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
